.modal-textarea {
    border: 1px solid #c0b8b8;
    width: 100%;
    font-size: 14px;
    padding: 10px;
    outline: none;
    box-shadow: 0 0.5px 2px rgba(96,97,112,0.36);
    border-radius: 4px;
    resize: none;
}

.icon-update {
    background-color: #fdb973;
    color: #393939;
    border:1px solid #fdb973;
    border-radius: 4px;
    margin-right: 6px;
}